.left-side-bar {
    position:fixed;
    display: flex;
    width: 80px;
    height: 100vh;
    background-color:blueviolet;
}

.side-nav {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.side-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-nav li {
    width: 80px;
    height: 50px;
    background-color: aqua;
    margin: 10px 0;
}

.side-nav ul li a {
    font-size: 1em;
}
