.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 10px;
  }
  
  .header-content {
    display: flex;
    align-items: center;
  }
  
  .table-number {
    margin-right: 10px;
  }
  
  .button-group {
    display: flex;
  }
  
  .button-group > button {
    margin-left: 10px;
  }
  