@keyframes flashRed {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .waiter-page-button {
    margin-left: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .waiter-page-button.red {
    background-color: #ff0000;
    animation: flashRed 2s infinite;
  }
  
  .waiter-page-button.green {
    background-color: #199949;
 }
  